<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD532tKp9Aj0AcXvnR2dsUU6grjyrY5kSU</string>
	<key>GCM_SENDER_ID</key>
	<string>485571578206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brettrosen.World-of-Wealth</string>
	<key>PROJECT_ID</key>
	<string>world-of-wealth-ce03e</string>
	<key>STORAGE_BUCKET</key>
	<string>world-of-wealth-ce03e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485571578206:ios:cb17d24833d44c93f567cf</string>
</dict>
</plist>